body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    text-align: center;
    color: #333;
}


.form-group {
    margin-bottom: 15px;
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
}

select, input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.dockerfile-box {
    margin-top: 20px;
}

pre {
    background: #eee;
    padding: 10px;
    border: 1px solid #ddd;
    overflow: auto;
}
